body{
    width: 960px;
}

header{
    border-bottom: 1px solid black;
    padding: 20px;
}

.conteudo{
    display: flex;
}

aside{
    width: 300px;
}

main{
    width: 610px;
    border-left: 1px solid black;
    display: flex;
    justify-content: space-between;
}

footer{
    padding: 20px;
    background-color: #d8d8d8;
}

footer img{
    width: 250px;
}

.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.contatos{
    display: flex;
    flex-direction: column;
    text-align: right;    
}

.titulo-contato{
    padding: 15px 0;
}

